* {
  margin: 0;
  padding: 0;
  font-family: Avenir;
}
/*This helps the snapping work in safari*/
body {
  background: #EAF0F6;
  scroll-snap-type: y mandatory;
}
/*This helps the snapping work in chrome and firefox*/
html {
  scroll-snap-type: y mandatory;
}

/*-------Parent Page Grid Wrapper---------*/
#app-wrapper {
  display: grid;
  grid-template-columns: 0.6fr 3fr;
  grid-template-rows: 100vh 100vh 100vh;
  /* grid-gap: 2rem; */
  box-sizing: border-box;
}

/*----main grid child containers-----*/
.snap-child {
  scroll-snap-align: start;
  box-sizing: border-box;
}

#container-one {
  grid-area: 1/2/2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#container-two {
  grid-area: 2/2/3/3;
}
#container-three {
  grid-area: 3/2/4/3;
}

/*Splits the top half of the viewport with contrasting color*/
#top-background-color {
  background-color: #EAF0F6; 
  opacity: 60%;
  height: 42%;
  grid-area: 1/2/2/3;
  z-index: -1;
}


/*------Header----------*/

#header-wrapper {
  /* background-color: trans; */
  /* box-shadow: 2px 2px 1px rgba(58, 55, 55, 0.726); */

  /* align-items: flex-start; */
  border-radius: 5px;
  /* height: 10%; */
  width: 100%;
  /* flex: auto; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#main-head-flex {
  display: flex;
  /* height: 100%;
  width: 100%; */
  /* align-items: center; */
  justify-content: space-between;
}

#head-flex-one {
  display: flex;
  /* flex: auto; */
  width: 35%;
  align-items: center;
  justify-content: center;
}
#head-flex-two {
  display: flex;
  /* flex: auto; */
  width: 20%;
  align-items: center;
  justify-content: space-evenly;
  /* margin-left: 5vw; */
}

.header-svg-wrapper img {
  max-width: 1.8vw;
  max-height: 1.6vh;
}

#user-wrapper {
  box-sizing: border-box;
  display: flex;
}
#user-wrapper img {
  width: 40px; 
  border: 0.5px solid #dfe3eb;
  border-radius: 50%;
  box-shadow: 5px 5px 60px 0.5px rgb(0,0,0, 0.45);

}

#user-id {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
/* user name and status*/
#user-id h5,
h6 {
  color: white;
}
/*header title*/
#head-flex-one h3 {
  color: white;
}

/*-----------------MAP-------------*/

/*App.JS tag*/
#home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
}
/*-------MAP----------*/

#map-component-wrapper {
  box-sizing: border-box;
  width: 70vw;
  box-shadow: 20px 30px 60px 0.5px rgb(0,0,0, 0.45);
}


#map-legend-wrapper {
  width: 100%;
border-radius: 10px; 
}

#legend-button:hover { 
  cursor: pointer;
}


/*------Fake Graph Background--------*/
/* #fake-graph-wrapper {
  z-index: -1;
}
#fake-graph-wrapper img {
  margin-top: 1.5vh;
  width: 100%;
  height: 52%;
} */

/*-----------------APEX CHARTS and GRAPHS-----------------------------*/

/*------------------TOP BAR GRAPHS---------------*/
/*This includes two right side graphs*/
/*In App.JS Wrapper for main parent component*/
#right-dash-header {
  height: 30vh;
  margin-bottom: 1rem;
}

#v-and-r-flexWrap {
  display: flex;
  gap: 5rem;
  height: 100%;
  /* width:100%; */
  border: 2px solid green; 

}
/*----- Bar Graphs Wrapper for graph components----*/
.right-charts {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin-bottom: 1em;
  align-items: center;
}

/*--Top Five Total Sales Bar Graph--*/
/*Closest Div Wrapper: child of .right-charts*/
#V-chart {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: white;
  box-shadow: 15px 20px 50px 0.5px rgb(0,0,0, 0.40);
  border-radius: 5px;
  height: 100%;
  width: 85%;
  margin-left: 5rem;
  border: 2px blue solid; 
}
/*--Revenue Bar Graph-*/
/*Closest Div Wrapper: child of .right-charts */
#R-chart {
  display: flex;
  flex-flow: column;
  border-radius: 5px;
  justify-content: space-around;
  align-items: flex-start;
  background-color: white;
  box-shadow: 15px 20px 50px 0.5px rgb(0,0,0, 0.40);
  height: 100%;
  width: 85%;
  border: red 2px solid; 
}

/*--------------BOTTOM PIE CHARTS---------------*/

/*Bottom Three Graph: Wraps parent component in App.JS*/
#bottom-dash-header {
  height: 70%;
  box-sizing: border-box;
}
/*parent wrapper for three pie chart components*/
#bottom-cont {
  margin-top: 8vh;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  height: 100%;
}
/*--class wrapper for each individual pie chart component--*/
.bottom-charts {
  width: 30%;
  height: 90%;
}

/*--wrapper for actual fulfillment pie chart--*/
#f-chart {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: 15px 20px 40px 0.5px rgb(0,0,0, 0.40);
  height: 100%;
  width: 100%;
  background-color: #f5f8fa;
}
/*--wrapper for actual Opt In Marketing pie chart--*/
#M-chart {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 15px 20px 40px 0.5px rgb(0,0,0, 0.40);
  background-color: #f5f8fa;
  height: 100%;
  width: 100%;
}

/*--wrapper for actual Sales Type pie chart--*/
#charts {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f8fa;
  border-radius: 5px;
  box-shadow: 15px 20px 40px 0.5px rgb(0,0,0, 0.40);
  height: 100%;
  width: 100%;
}

/*---------Top Dashboard Tiles-------------- */

/*wrapper for top dash parent component in App.JS*/
#top-dash-header {
}

#top-dash {
  /* display: grid;
  grid-template-columns: repeat(3 1fr); */
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  /* gap: 2rem; */
}
#top-dash-icon {
  height: 22px;
  width: 22px;
  padding-right: 8px;
}
#top-dash-title {
  font-size:22px;
}

/*class for each individual top dash tile*/
.dashboard {
  margin: 1em;
  padding: 1em;
  /* height: 10vh; */
  color: #EAF0F6;

  border-radius: 10px;
  font-size: 2vh;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-around;
}
.top-dash-small {
  font-size: 3vh;
}
.top-dash-num {
  font-size: 5vh;
  display: inline-block;
}
#total-sales {
  box-shadow: 15px 20px 40px 0.5px rgb(0,0,0, 0.45);
  width: 20vw;
  opacity: 80%;
  background-image: url("./../svg/PurpleGradient.png");
  background-size: 100% 100%; 
}
#average-price {
  box-shadow: 15px 20px 40px 0.5px rgb(0,0,0, 0.45);
  width: 20vw;
  opacity: 80%;
  background-image: url("./../svg/Blu3.png");
  background-size: 100% 100%; 
}

#item-sold {
  width: 20vw;
  opacity: 80%;
  background-image: url("./../svg/Gradient4.png");
  background-size: 100% 100%; 
  box-shadow: 15px 20px 40px 0.5px rgb(0,0,0, 0.45);
}


/*-------------Client Popup onClick Map Legend--- -------*/
.popup-wrapper {
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  backdrop-filter: blur(8px);
  overflow:hidden;
  box-shadow: 15px 20px 40px 0.5px rgb(0,0,0, 0.45);
}

.popup {
  height: 45vh;
  width: 45vw;
  border-radius: 10px;
  background-color: #edf6f9;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  text-align: center;
  backdrop-filter: brightness(60%);
  backdrop-filter: contrast(40%);
  backdrop-filter: drop-shadow(4px 4px 10px blue);
  backdrop-filter: grayscale(30%);
  backdrop-filter: hue-rotate(120deg);
  backdrop-filter: invert(70%);
  backdrop-filter: opacity(20%);
  backdrop-filter: sepia(90%);
  backdrop-filter: saturate(80%);
  overflow:scroll;
  box-shadow: 20px 30px 60px 0.5px rgb(0,0,0, 0.45);
}

#popup-icon {
  height: 18px; 
  width: 18px;
  opacity: 90%; 
  padding-right: 5px;
}
#arrow-icon {
  height: 26px; 
  width: 26px; 
}

#left-popup {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./../svg/leftpopup.png");
  background-size: 100% 100%;
  color: #dfe3eb;
  font-size: bigger;
}

#popup-item {
  padding: 40px;
  font-size: bigger;
}
#popup-title { 
  padding: 40px; 
  font-size: 1.5em;
}
#right-popup {
  background-color: #cbd6e2;
  grid-column: 2;
  display:flex;
  padding: 15px 15px 15px 45px; 
  color: #33475B;
}
#client-list {
  text-align: left;
  align-items: center;
  display: inline-block;
  align-self:center
}

#client-list-item { 
  padding-bottom: 4px;
  opacity: 85%;
}

#exit-popup {
  position: absolute;
  top: 5px;
  right: 10px;
}
ul {
  list-style: none;
  marker: none;
}

#exit-icon {
  height: 20px;
  width: 20px;
}
#exit-popup:hover { 
cursor: pointer;
}

#exit-button {
border: 0;
}
