* {
  margin: 0;
  padding: 0;
  font-family: Avenir;
  /* box-sizing: border-box; */ /*fixes some issues with padding and margin pushing boxes out of bounds but also shrinks top tile svg sizes for some reason*/
}
/*This helps the snapping work in safari*/
body {
  background: #eaf0f6;
  scroll-snap-type: y mandatory;
}
/*This helps the snapping work in chrome and firefox*/
html {
  scroll-snap-type: y mandatory;
}

/*------Header----------*/
/*sits above and outside the main grid container*/

/*-------Parent Page Grid Wrapper---------*/
#app-wrapper {
  display: grid;
  grid-template-columns: 0.6fr 3fr;
  grid-template-rows: 100vh 100vh 100vh;
  margin-top: 0;
  box-sizing: border-box;
}

/*----main grid child containers-----*/
.snap-child {
  scroll-snap-align: start;
}

#container-one {
  grid-area: 1/2/2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

#container-two {
  grid-area: 2/2/3/3;
}
#container-three {
  grid-area: 3/2/4/3;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

/*----------------MAIN SECTION GROUPING----------------*/

/*--------SECTION ONE---------*/
/*------Area Graph--------*/
/*wraps area graph component in app.js*/
#area-graph-comp-wrap {
  height: 32%;
  margin-top: 3rem;
  width: 83%; /*manipulate the width or height here to easily change graph size*/
  display: flex;
  border-radius: 5px;
  background-color: white;
  box-shadow: 10px -1px 30px 5px rgba(112, 110, 110, 0.246);
  margin-left: 7vw;
}

/*directly wraps the actual graph*/
#area-chart-wrapper {
  width: 100%;
}

/*-------Top Dashboard Tiles------- */
/*Gross Rev, Avg Sale, Items Sold*/

/*wrapper for top dash parent component in App.JS*/

#top-dash {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

#top-dash-icon {
  height: 17px;
  width: 17px;
  padding-right: 8px;
}
#top-dash-title {
  font-size: 22px;
}

/*class for each individual top dash tile*/
.dashboard {
  margin: 1em;
  padding: 1em;
  color: #eaf0f6;
  border-radius: 10px;
  font-size: 0.9vh;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.top-dash-small {
  font-size: 3vh;
}

.top-dash-num {
  font-size: 5vh;
  display: inline-block;
}

#total-sales {
  box-shadow: 15px 20px 40px 0.5px rgb(0, 0, 0, 0.3);
  width: 17vw;
  opacity: 80%;
  background-image: url("./../svg/Purple.png");
  background-size: 100% 100%;
}

#average-price {
  box-shadow: 15px 20px 40px 0.5px rgb(0, 0, 0, 0.3);
  width: 17vw;
  opacity: 80%;
  background-image: url("./../svg/Blue.png");
  background-size: 100% 100%;
}

#item-sold {
  width: 17vw;
  opacity: 80%;
  background-image: url("./../svg/Yellow.png");
  background-size: 100% 100%;
  box-shadow: 15px 20px 40px 0.5px rgb(0, 0, 0, 0.3);
}

/*--------TOP BAR GRAPHS---------*/
/*This includes two bar graphs first section*/
/*In App.JS Wrapper for main parent component*/
#right-dash-header {
  height: 30vh;
  margin-bottom: 2.8rem;
}

/*flex wrap for two bar graphs: manages apex charts unpredictable sizing issues*/
#v-and-r-flexWrap {
  display: flex;
  gap: 5rem;
  height: 100%;
  /* border: 2px solid blue; */
}

/*- Bar Graphs Wrapper for graph components--*/
.right-charts {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin-bottom: 1em;
  align-items: center;
}

/*--Top Five Total Sales Bar Graph--*/
/*Closest Div Wrapper: child of .right-charts*/
#V-chart {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: white;
  box-shadow: 15px 20px 50px 0.5px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 100%;
  width: 85%;
  margin-left: 5rem;
}

/*--Revenue Bar Graph-*/
/*Closest Div Wrapper: child of .right-charts */
#R-chart {
  display: flex;
  flex-flow: column;
  border-radius: 5px;
  justify-content: space-around;
  align-items: flex-start;
  background-color: white;
  box-shadow: 15px 20px 50px 0.5px rgb(0, 0, 0, 0);
  height: 100%;
  width: 85%;
}

/*----------SECTION TWO------------*/

/*-------MAP--------*/
/*see separate style sheet -magicMap- for the closest direct manipulation of the leaflet map instance, the rest below are wrappers */

/* wrapper for main parent component in app.js*/
#home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
}

/*next level down wrapper for*/
#map-component-wrapper {
  box-sizing: border-box;
  width: 70vw;
  box-shadow: 20px 30px 60px 0.5px rgb(0, 0, 0, 0.2);
}

#map-legend-wrapper {
  width: 100%;
  border-radius: 10px;
}

#legend-button:hover {
  cursor: pointer;
}

/*-------------Client Popup onClick Map Legend--- -------*/
.popup-wrapper {
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  backdrop-filter: blur(8px);
  overflow: hidden;
  box-shadow: 15px 20px 40px 0.5px rgb(0, 0, 0, 0.45);
}

.popup {
  height: 45vh;
  width: 45vw;
  border-radius: 10px;
  background-color: #edf6f9;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  text-align: center;
  backdrop-filter: blur(8px);
  backdrop-filter: brightness(60%);
  backdrop-filter: contrast(40%);
  backdrop-filter: drop-shadow(4px 4px 10px blue);
  backdrop-filter: grayscale(30%);
  backdrop-filter: hue-rotate(120deg);
  backdrop-filter: invert(70%);
  backdrop-filter: opacity(20%);
  backdrop-filter: sepia(90%);
  backdrop-filter: saturate(80%);
  overflow: scroll;
  box-shadow: 20px 30px 60px 0.5px rgb(0, 0, 0, 0.45);
}

#popup-icon {
  height: 18px;
  width: 18px;
  opacity: 90%;
  padding-right: 5px;
}

#arrow-icon {
  height: 26px;
  width: 26px;
}

#left-popup {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./../svg/leftpopup.png");
  background-size: 100% 100%;
  color: #dfe3eb;
  font-size: bigger;
}

#popup-item {
  padding: 40px;
  font-size: bigger;
}

#popup-title {
  padding: 40px;
  font-size: 1.5em;
}

#right-popup {
  background-color: #cbd6e2;
  grid-column: 2;
  display: flex;
  flex-direction: row;
  padding: 15px 15px 15px 45px;
  color: #33475b;
  justify-content: space-between;
}

#client-list {
  text-align: left;
  align-items: center;
  display: inline-block;
  align-self: center;
}

#client-list-item {
  padding-bottom: 4px;
  opacity: 85%;
}

#exit-popup {
  align-self: flex-start;
  flex-direction: column-reverse;
  /* justify-self: last baseline; */
  top: 5px;
  right: 10px;
  padding-left: 10px;
}
ul {
  list-style: none;
  marker: none;
}

#exit-icon {
  height: 20px;
  width: 20px;
}
#exit-popup:hover {
  cursor: pointer;
}

/*------------SECTION THREE-------------*/

/*----PIE CHARTS----*/

/*Bottom Three Graph: Wraps parent component in App.JS*/
#bottom-dash-header {
  height: 70%;
  box-sizing: border-box;
}

/*parent wrapper for three pie chart components*/
#bottom-cont {
  margin-top: 8vh;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  height: 100%;
}

/*--class wrapper for each individual pie chart component--*/
.bottom-charts {
  width: 30%;
  height: 90%;
}

/*--wrapper for actual fulfillment pie chart--*/
#f-chart {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: 15px 20px 40px 0.5px rgb(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  background-color: #f5f8fa;
}

/*--wrapper for actual Opt In Marketing pie chart--*/
#M-chart {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 15px 20px 40px 0.5px rgb(0, 0, 0, 0.4);
  background-color: #f5f8fa;
  height: 100%;
  width: 100%;
}

/*--wrapper for actual Sales Type pie chart--*/
#charts {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f8fa;
  border-radius: 5px;
  box-shadow: 15px 20px 40px 0.5px rgb(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}

/* footer */
#footer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  background-color: #33475b;
  color: #dfe3eb;
  font-size: 2vh;
}
