* {
  margin: 0;
  padding: 0;
}
html {
  scroll-snap-type: y mandatory
}
body {
  background: #ebe7e7de;
  font-family: Avenir; 
  /* background: #efefef; */
}
/*Splits the top half of the viewport with contrasting color*/
#top-background-color {
  grid-area: 1/1/3/4;
  z-index: -3;
  background-color: #a81515c7;
  height: 65%;
}
/*-------Parent Page Grid Wrapper---------*/
#app-wrapper {
  display: grid;
  grid-template-columns: 0.6fr 3fr;
  grid-template-rows: 0.4fr 0.4fr 0.6fr 1fr 0.8fr;
  /* border: blue solid 5px; */
  grid-gap: 2rem;
  box-sizing: border-box;
}

/* scroll-snap-align: start; */
/*-----------------MAP-------------*/

/*App.JS tag*/
#home-page {
  /* border: 10px solid white; */
  /* border-radius: 5px; */
  height: 100%;
  width: 100%;
  /* background: white; */
  /* box-shadow: 0.7px 0.7px 1.5px rgba(83, 82, 82, 0.514); */
  grid-area: 4/2/5/3;
  border: 1px solid red;
}

/*------Fake Graph Background--------*/
#fake-graph-wrapper {
  grid-area: 1/2/3/4;
  z-index: -1;
}
#fake-graph-wrapper img {
  margin-top: 1.5vh;
  width: 100%;
  height: 52%;
}
/*------Header----------*/

#header-wrapper {
  grid-area: 1/2/2/3;

  /* background-color: trans; */
  /* box-shadow: 2px 2px 1px rgba(58, 55, 55, 0.726); */
  border-radius: 5px;
  height: 10%;

  /* margin-right: 2rem;*/
  margin-top: 0.9rem;
}

#main-head-flex {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
#head-flex-one {
  display: flex;
  /* flex: auto; */
  width: 35%;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(67, 149, 226); */
}
#head-flex-two {
  display: flex;
  /* flex: auto; */
  width: 20%;
  align-items: center;
  justify-content: space-evenly;
  /* margin-left: 5vw; */
}

.header-svg-wrapper img {
  max-width: 1.6vw;
}

#user-wrapper {
  box-sizing: border-box;
  display: flex;
}
#user-wrapper img {
  max-width: 1.8vw;
  border: 1px solid black;
  border-radius: 50%;
}

#user-id {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
/* user name and status*/
#user-id h5,
h6 {
  color: white;
}
/*header title*/
#head-flex-one h3 {
  color: white;
}


/*-----------------APEX CHARTS and GRAPHS-----------------------------*/

/*------------------TOP BAR GRAPHS---------------*/
/*This includes two right side graphs*/
/*In App.JS Wrapper for main parent component*/
#right-dash-header {
  grid-area: 3/2/4/3;
}

#v-and-r-flexWrap {
  display: flex;
  gap: 5rem;
  height: 65%;
}
/*----- Bar Graphs Wrapper for graph components----*/
.right-charts {
  /* border: 2px rgb(205, 203, 203) solid; */
  /* box-shadow: 2px -2px 30px 12px rgba(112, 110, 110, 0.246); */
  width: 50%;
  height: 100%;
  /* background-color: white; */
  border-radius: 15px;
  margin-bottom: 1em;
  /* border: 3px solid green; */
  align-items: center;
}

/*--Top Five Total Sales Bar Graph--*/
/*Closest Div Wrapper: child of .right-charts*/
#V-chart {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: white;
  box-shadow: 2px -2px 30px 12px rgba(112, 110, 110, 0.246);
  border-radius: 5px;
  height: 100%;
  width: 85%;

  margin-left: 5rem;
}
/*--Revenue Bar Graph-*/
/*Closest Div Wrapper: child of .right-charts */
#R-chart {
  display: flex;
  flex-flow: column;
  border-radius: 5px;
  justify-content: space-around;
  align-items: flex-start;
  background-color: white;
  box-shadow: 2px -2px 30px 12px rgba(112, 110, 110, 0.246);
  height: 100%;
  width: 85%;
}
/*----------------------------------------------------*/

/*--------------BOTTOM PIE CHARTS---------------*/

/*Bottom Three Graph: Wraps parent component in App.JS*/
#bottom-dash-header {
  grid-area: 5/2/6/3;
  /* border: 5px yellow solid; */
  height: 70%;
  box-sizing: border-box;
}
/*parent wrapper for three pie chart components*/
#bottom-cont {
  margin-top: 8vh;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  height: 100%;
}
/*--class wrapper for each individual pie chart component--*/
.bottom-charts {
  width: 30%;
  height: 90%;
  /* border-radius: 15px; */
}

/*--wrapper for actual fulfillment pie chart--*/
#f-chart {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px -2px 30px 12px rgba(112, 110, 110, 0.246);
  height: 100%;
  width: 100%;
}
/*--wrapper for actual Opt In Marketing pie chart--*/
#M-chart {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px -2px 30px 12px rgba(112, 110, 110, 0.246);
  /* background-color: rgba(255, 119, 0, 0.461); */
  height: 100%;
  width: 100%;
}

/*--wrapper for actual Sales Type pie chart--*/
#charts {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px -2px 30px 12px rgba(112, 110, 110, 0.246);
  /* background-color: rgba(255, 119, 0, 0.461); */
  height: 100%;
  width: 100%;
}

/* #data-displays-wrapper {
  border: 5px pink solid;
  grid-area: 3/3/4/4;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
} */

/*---------Top Dashboard Tiles-------------- */

/*Three financial top tiles */
#top-dash-header {
  grid-area: 2/2/3/3;
  /* margin-top: 10rem; */
  height: 100%;

  padding: 10px;
}

#top-dash {
  /* display: grid;
  grid-template-columns: repeat(3 1fr); */
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  /* gap: 2rem; */
  height: 100%;
}
/* .top-tile-background {
  background-color: white;
  box-shadow: 2px -2px 30px 12px rgba(112, 110, 110, 0.246);

  width: 25vw;
  height: 85%;
  margin-top: 6rem;
  border-radius: 5px;
} */

.dashboard {
  margin: 1em;
  padding: 1em;
  height: 10vh;

 
  /* height: 10vh; */
  color: #000000;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 2vh;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-around;
}
.top-dash-small {
  font-size: 3vh;
}
.top-dash-num {
  font-size: 5vh;
  display: inline-block;
}
#total-sales {
  background: white;
  box-shadow: 2px -2px 30px 12px rgba(112, 110, 110, 0.246);
  color: black;
}
#average-price {
  background: white;
  box-shadow: 2px -2px 30px 12px rgba(112, 110, 110, 0.246);
  color: black;
}
#item-sold {
  color: black;
  box-shadow: 2px -2px 30px 12px rgba(112, 110, 110, 0.246);
  background: white;
}
/*----------------------------------------*/















/*-------------Client Popup onClick Map Legend--- -------*/
.popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.popup {
  height: 60vh;
  width: 40vw;
  border-radius: 10px;
  background-color: #edf6f9;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  text-align: center;
  font-size: x-large;
}


/*------Burger Menu------*/
/*-----Burger-Map----------*/

#map-component-wrapper {
  box-sizing: border-box;
}

/*div wrapper on burger component in Home Page*/
#map-burger-wrapper {
  position: relative;
  top: 7rem;

  z-index: 600;
  display: flex;
  justify-content: flex-start;
  flex: auto;
  margin-left: 75vw;
  margin-top: 4rem;
}

/*section tag that wraps all three divs*/
.burger-menu {
  left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 2rem;
  height: 2rem;
  border: none;
  cursor: pointer;
  padding: 0;
}
/*Individual three divs*/
.burger-menu div {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  transition: all 0.3s linear;
  /* position: relative; */
  transform-origin: 1px;
  box-sizing: border-box;
}

#map-legend-wrapper {
  transition: transform 0.3s ease-in-out;
}
/* 
  margin-left: 2rem;
  margin-right: 2rem;
  width: 100%;
} */

/*Each legend color square*/
#legend-button {
  border: 1px solid rgba(194, 27, 0, 0.979411833092612);
  /* border-radius: 5px; */
}

/* -----------------------------------SIDEBAR---------------------------------*/ 
